<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--扫描确认的包-->
    <context:component-scan base-package="com.xiaolhe.shiro.web.controller"/>

    <!--设置驱动-->
    <mvc:annotation-driven/>

    <!--排除静态文件-->
    <mvc:resources mapping="/*" location="/"/>

    <!-- 🌹🌹🌹🌹🌹🌹🌹🌹🌹🌹🌹  使用注解的方式进行shiro 授权 🌹🌹🌹🌹🌹🌹-->
    <!--开启aop-->
    <aop:config proxy-target-class="true"/>
    <bean class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
    <bean id="sourceAdvisor" class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <!--注入SecurityManager对象-->
        <property name="securityManager" ref="securityManager"/>
    </bean>
    <!-- 🌹🌹🌹🌹🌹🌹🌹🌹🌹🌹🌹 使用注解的方式进行shiro 授权  🌹🌹🌹🌹🌹🌹🌹🌹-->
</beans>