<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">


    <!--创建shiro拦截器-->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!--设置SecurityManager-->
        <property name="securityManager" ref="securityManager"/>
        <!--设置登录页面-->
        <property name="loginUrl" value="login.html"/>
        <!--🍎🍎 设置未认证的跳转页面-->
        <property name="unauthorizedUrl" value="403.html"/>
        <!--🍎🍎设置过滤器链-->
        <property name="filterChainDefinitions">
            <value>
                <!--🐇🐇  anon 不需要任何验证，可以直接访问-->
                /login.html = anon
                <!--提交登录不需要认证-->
                /sublogin = anon
                /* = authc
            </value>
        </property>
    </bean>
    <!--1.创建SecurityManager-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!-- 创建 SecurityManager 对象 -->
        <property name="realm" ref="realm"/>
    </bean>

    <!--2.创建自定义Realm-->
    <bean id="realm" class="com.xiaolhe.shiro.web.realm.CustomRealm">
        <property name="credentialsMatcher" ref="credentialsMatcher"/>
    </bean>
    <!--3.创建加密管理七对象-->
    <bean id="credentialsMatcher" class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
        <!--设置加密的算法-->
        <property name="hashAlgorithmName" value="md5"/>
        <!--设置迭代的次数（加密的次数）-->
        <property name="hashIterations" value="1"/>
    </bean>
</beans>